#renderbtn {
  width: 100px;
  height: 40px;
  position: absolute;
}
#sharebtn {
  width: 100px;
  height: 40px;
  left: 120px;
  position: absolute;
}
#cnvs {
    padding: 0;
    position: absolute;
    padding: 0;
}

#spectrum_cnvs {
    background: black;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

body {
    overflow: hidden;
}
